# Gereksiz Klasörler
**/node_modules/
**/target/
**/.idea/
**/.vscode/
**/.DS_Store
**/dist/
**/build/

# Loglar vs.
*.log
/uploads/c9645751-3eb3-4cd6-bb67-d79af284a0f8_g-class-1160688604u8c.jpg
/uploads/a90b1492-aa92-4923-9e3f-83e72cd678a3_g-class-1160688604u8c.jpg
/uploads/7fe5fbea-0b5c-4bbf-9d7f-9b14f72e5ed7_22-BMW-X5-Blue.png
/uploads/7da84be9-ce71-49a1-9491-54b021bee76e_22-BMW-X5-Blue.png
/rent-a-car-backend/src/main/main.iml
/rent-a-car-backend/src/test/test.iml
